[colors]
# Base16 Parkjinwoo
# Scheme: Park Jinwoo (https://github.com/parkjinwoo)

foreground      = #303030
foreground_bold = #303030
cursor          = #303030
background      = #f8f8f8

# 16 color space
color0  = #0d0d0d
color1  = #ba1820
color2  = #6fac24
color3  = #ffac30
color4  = #188cb5
color5  = #ac40a8
color6  = #40e894
color7  = #d0d0d0
color8  = #606060
color9  = #ba1820
color10 = #6fac24
color11 = #ffac30
color12 = #188cb5
color13 = #ac40a8
color14 = #40e894
color15 = #f8f8f8

# 256 color space
color16 = #ac4040
color17 = #60c4ac
color18 = #151515
color19 = #303030
color20 = #c0c0c0
color21 = #e0e0e0
