[global_config]
  title_transmit_bg_color = "#ba1820"
  title_inactive_bg_color = "#606060"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#0d0d0d:#ba1820:#6fac24:#ffac30:#188cb5:#ac40a8:#40e894:#d0d0d0:#606060:#ba1820:#6fac24:#ffac30:#188cb5:#ac40a8:#40e894:#f8f8f8"
    foreground_color = "#d0d0d0"
    background_color = "#0d0d0d"
    cursor_color = "#d0d0d0"

  [[Base16 Parkjinwoo Dark]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#0d0d0d:#ba1820:#6fac24:#ffac30:#188cb5:#ac40a8:#40e894:#d0d0d0:#606060:#ba1820:#6fac24:#ffac30:#188cb5:#ac40a8:#40e894:#f8f8f8"
    foreground_color = "#d0d0d0"
    background_color = "#0d0d0d"
    cursor_color = "#d0d0d0"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Parkjinwoo Dark
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
