[global_config]
  title_transmit_bg_color = "#ba1820"
  title_inactive_bg_color = "#606060"
  focus = system
[keybindings]
[profiles]
  [[default]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#0d0d0d:#ba1820:#6fac24:#ffac30:#188cb5:#ac40a8:#40e894:#d0d0d0:#606060:#ba1820:#6fac24:#ffac30:#188cb5:#ac40a8:#40e894:#f8f8f8"
    foreground_color = "#303030"
    background_color = "#f8f8f8"
    cursor_color = "#303030"

  [[Base16 Parkjinwoo Light]]
    background_image = None
    copy_on_selection = True
    allow_bold = False
    palette = "#f8f8f8:#ba1820:#6fac24:#ffac30:#188cb5:#ac40a8:#40e894:#d0d0d0:#606060:#ba1820:#6fac24:#ffac30:#188cb5:#ac40a8:#40e894:#0d0d0d"
    foreground_color = "#303030"
    background_color = "#f8f8f8"
    cursor_color = "#303030"

[layouts]
  [[default]]
    [[[child1]]]
      type = Terminal
      parent = window0
      profile = Base16 Parkjinwoo Light
    [[[window0]]]
      type = Window
      parent = ""
[plugins]
