/**
 * Base16 Parkjinwoo Light
 *
 * @author Park Jinwoo (https://github.com/parkjinwoo)
 *
 * Rainbow template by Jan T. Sott (https://github.com/idleberg/)
 * Original Base16 color scheme by Chris Kempson (https://github.com/chriskempson/base16)
 */
pre {
    background-color: #f8f8f8;
    word-wrap: break-word;
    margin: 0px;
    padding: 10px;
    color: #0d0d0d;
    font-size: 14px;
    margin-bottom: 20px;
}

pre, code {
    font-family: 'Monaco', courier, monospace;
}

pre .comment {
    color: #c0c0c0;
}

pre .variable.global, pre .variable.class, pre .variable.instance {
    color: #ba1820; /* red */
}

pre .constant.numeric, pre .constant.language, pre .constant.hex-color, pre .keyword.unit {
    color: #ac4040; /* orange */
}

pre .constant, pre .entity, pre .entity.class, pre .support {
    color: #ffac30; /* yellow */
}

pre .constant.symbol, pre .string {
    color: #6fac24; /* green */
}

pre .entity.function, pre .support.css-property, pre .selector {
    color: #188cb5; /* blue */
}

pre .keyword, pre .storage {
    color: #ac40a8; /* purple */
}
